{% extends 'base.html' %}
{% block title %}掛號{% endblock %}

{% block docready %}

$("#li_appointment").addClass("active");

{% endblock %}

{% block content_title %}掛號{% endblock %}

{% block content %}
<script type="text/javascript">
    function shout(value){
        document.getElementById("input_uid").value=value;
        document.getElementById("hidden_input_uid").value=value;
    }
</script>

<div class="container-fluid ct">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-edit"></i> <a href="/appointment">掛號</a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">

            <form role="form" method="GET" action="/database/">
            

                <input type="hidden" name="code" value="{{id_date}}">
                <input type="hidden" name="command" value="appointment">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">診療編碼</h3>
                    </div>
                    <div class="panel-body">
                        {{ id_date }}
                    </div>
                </div>


                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">基本資料</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>病患代號</label>
                            <input id="input_uid" name="unique_id" class="form-control" placeholder="於查詢區選取" disabled>
                            <input type="hidden" id="hidden_input_uid" name="unique_id">
                        </div>

                        <div class="form-group">
                            <label>科別</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subject" id="optionsRadios1" value="M" checked>內科
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subject" id="optionsRadios2" value="DEN">牙科
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="subject" id="optionsRadios3" value="OTHER">其他
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>基本健康狀況</label>
                            <div class="form-group input-group">
                                <span class="input-group-addon">血壓</span>
                                <input name="bloodpressure" type="text" class="form-control" placeholder="收縮壓/舒張壓 (備註)">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">血糖</span>
                                <input name="bloodsugar" type="text" class="form-control" placeholder="mg/dl (備註)">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">身高</span>
                                <input name="height" type="text" class="form-control" placeholder="公分">
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">體重</span>
                                <input name="weight" type="text" class="form-control" placeholder="公斤">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>備註</label>
                            <textarea name="remark" class="form-control" rows="7"></textarea>
                        </div>

                        <button type="submit" class="btn btn-success">送出</button>
                        <button type="reset" class="btn btn-danger">重填</button>

                    </div>
                 </div>
                {% csrf_token %}
            </form>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">代號查詢</h3>
                </div>
                <div class="panel-body">
                    <label>代號查詢</label>

                    <div class="form-group input-group">
                        <input id="search" type="text" class="form-control" data-list=".highlight_list" autocomplete="off" placeholder="暱稱查找">
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                    </div>
                    <p class="help-block">★ 上方可輸入暱稱尋找，點按選擇後會自動填入基本資料窗</p>


                    <ul class="highlight_list" style="margin-left:0em; padding-left:0em;">
                    {% for NL in nicknameList %}
                        {% if NL.is_new == 1 %}
                        <li style="list-style-type: none; margin-left:0em; padding-left:0em;">
                            <a href="javascript:void(0)" onclick="shout('{{ NL.unique_id }}');" data-toggle="collapse" data-target="#{{ NL.unique_id }}" class="list-group-item collapsed" aria-expanded="false">
                                <i class="fa fa-fw fa-info-circle"></i> {{NL.nickname}} ({{NL.unique_id}}) <i class="fa fa-fw fa-caret-down"></i>
                                <div id="{{NL.unique_id}}" class="collapse" aria-expanded="true">
                                    {% for subNL in nicknameList %}
                                        {% if subNL.unique_id == NL.unique_id%}
                                            {{subNL.nickname}}<br>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </a>
                        </li>
                        {% endif %}
                    {% empty %}

                    {% endfor %}
                    </ul>
                    <br><hr><h5>找不到符合的資料嗎 ?</h5>
                    <a href="/infomanage/"><button id="botton_fastadd" class="btn btn-primary">前往新增頁面</button></a>
                    <div class="form-group input-group"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
{% endblock %}