{% extends 'base.html' %}
{% block title %}領藥處{% endblock %}

{% block docready %}

$("button").click(function(){
    if(this.id.split("-")[1]=="taken") 
    {
        window.location.href = '/database/?command=taken&log_id='+this.id.split("-")[0];
    }
});

$("#li_pharmacy").addClass("active");
{% endblock %}

{% block content_title %}領藥{% endblock %}

{% block content %}

<div class="container-fluid ct">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/pharmacy">領藥</a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">

        {% for patient in waitList %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">編號 {{patient.log_id}}</h3>
                </div>
                <div class="panel-body">
                    <!-- Single button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% for name in nicknameTable %}
                            {% if name.unique_id in patient.log_id and name.is_new == 1 %} {{ name.nickname }} {% endif %}
                        {% endfor %}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        {% for name in nicknameTable %}
                            {% if name.unique_id in patient.log_id %} <li><a>{{ name.nickname }}</a></li>{% endif %}
                        {% endfor %}
                      </ul>
                    </div> &nbsp;點擊下拉檢視更多稱呼<br>
                    <hr>
                    
                    <div class="list-group" style="background-color:">
                        <a class="list-group-item active"  style="background-color:#FFFFFF;">
                            <h4 class="list-group-item-heading" style="color:black;"><b>藥品處方</b></h4>
                            <p class="list-group-item-text" style="color:grey;"">{{ patient.medicine_tmp | safe }}</p>
                        </a>
                        <br>
                        <a class="list-group-item active"  style="background-color:#FFFFFF;">
                            <h4 class="list-group-item-heading" style="color:black;"><b>醫師附註</b></h4>
                            <p class="list-group-item-text" style="color:grey;"">{{ patient.medicine_tmp_appendix | safe }}</p>
                        </a>
                    </div>
                    <button id="{{patient.log_id}}-taken" type="button" class="btn btn-success" style="float:right;">已領取</button>
                </div>
            </div>
        {% empty %}
            <b>太棒了！病人都領完藥了。</b>
        {% endfor %}

        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
{% endblock %}