{% extends 'base.html' %}
{% block title %}領藥處{% endblock %}

{% block docready %}
$("#li_infomanage").addClass("active");
{% endblock %}

{% block content %}

<div class="container-fluid ct">
    <div class="row">
        <div class="col-lg-12" id="popup_alert">
            <h1 class="page-header">
                資料庫管理
            </h1>
        </div>
        <div class="col-lg-12">
            <br>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="#">資料庫管理</a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">

        {% if error == 0 %}     <div class="panel panel-success">
        {% elif error == 1 %}   <div class="panel panel-danger">
        {% endif %}
                                    <div class="panel-heading">

        {% if error == 0 %}             <h3 class="panel-title">成功</h3>
        {% elif error == 1 %}           <h3 class="panel-title">錯誤</h3>
        {% endif %}
                                    </div>
                                    <div class="panel-body">
        {% if error == 0 %}             訊息 : <b>操作成功</b>
        {% elif error == 1 %}           訊息 : <b>{{description}}</b>
        {% endif %}
                                    </div>
                                </div>
            <button class="btn btn-primary" onclick="location.href = document.referrer; return false;">返回上一頁</button>
        </div>


        <div class="col-lg-6"><br><br></div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
{% endblock %}